.add-appliance .card-body {
  display: none;
}

.app-addheading {
  cursor: pointer;
  user-select: none;
}

.appliance-list {
  font-size: 1.1em;
}

.appliance-list .text-item {
  border-bottom: 1px dotted gray;
}

.appliance-list .text-item:last-child {
  border-bottom: none;
}

.appliance-list .text-name {
  font-weight: 600;
  color: #337ab7;
  font-size: 1.3em;
  line-height: 100%;
}

.appointment-list .label-item {
  font-weight: 600;
  color: #667b82;
}

.appointment-list .apt-date {
  font-style: italic;
}

.appointment-list .apt-notes {
  line-height: 120%;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #a9aeb2;
}

.button-update {
  position:absolute;
      right:10px;
      bottom:5px;
  }

  .button-cancel {
    position:absolute;
        right:100px;
        bottom:5px;
    }